@{
    ViewData["Title"] = "Experiencia";
}

<h1 class="text-primary text-center my-4">Mi Experiencia Profesional</h1>
<p class="text-secondary text-center">
    Tengo experiencia como profesor y monitor en sistemas y tecnología. Mis clases los sábados en la UNAD se enfocan en fortalecer las habilidades técnicas de mis estudiantes, orientándolos hacia el desarrollo de su potencial en el ámbito tecnológico.
</p>
<p class="text-secondary text-center">
    Mi objetivo principal es capacitar a los estudiantes para enfrentar los retos del mundo digital con herramientas prácticas y teóricas que los preparen para un futuro exitoso.
</p>