@{
    ViewData["Title"] = "Formación";
}

<h1 class="text-primary text-center my-4">@ViewData["Title"]</h1>
<p class="text-secondary text-center">
    Aquí puedes encontrar información sobre mi formación académica:
</p>
<ul class="list-group">
    <li class="list-group-item">
        🎓 Actualmente curso **Ingeniería de Sistemas** en la Universidad Nacional Abierta y a Distancia (UNAD).
    </li>
    <li class="list-group-item">
        🖥️ Estoy estudiando **Tecnología en Análisis y Desarrollo de Software** en el SENA.
    </li>
</ul>