@{
    ViewData["Title"] = "Perfil";
}

<h1 class="text-primary text-center my-4">@ViewData["Title"]</h1>
<p class="text-secondary text-center">
    Conéctate conmigo en mis redes sociales:
</p>
<ul class="list-group">
    <li class="list-group-item">
        🔵 Facebook:
        <a href="https://www.facebook.com/edwinalejandro.popoviveros?mibextid=wwXIfr" target="_blank">Edwin Alejandro Popo Viveros</a>
    </li>
</ul>

<h2 class="text-center mt-4">Escanea mi código QR para TikTok</h2>
<div class="text-center">
    <img src="/img/tiktok_qr.png" alt="Código QR de TikTok" style="max-width: 200px; height: auto;" />
</div>